/lessonnn
/Python
/semestr1
/semestr2
/semestr3
/4semestr
/lesson 1
/Packages
/wooork

*.doc
*.docx
*.pptx
*.rar
5semestr/parallel/*/include
5semestr/parallel/semestr
*.lib
5semestr/parallel/*/*.exe

4semestr/is/lab9/config.py
4semestr/is/lab9/telelog
4semestr/is/lab9/__pycache__
4semestr/neironki/lab5/mnist_csv
4semestr/neironki/4lab/пончика.py
graph.png

4semestr/is/lab1/1lab.py

5semestr/python/lab6/test_data

.vscode/*
1_семестр/*