.arrow_line {
  stroke-width: 1.99px;
  stroke: #acadb9;
  width: 17px;
  height: 3px;
  margin: auto 0;
  margin-left: 5px;
}

.arrow_cursor {
  stroke-width: 1.99px;
  stroke: #acadb9;
  width: 10px;
  height: 17px;
  margin: auto 0;
  margin-left: -5px;
}

.all_arrow {
  width: 120px;
  height: 40px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  margin-top: 50px;

  &:hover {
    margin-right: -25px;
    cursor: pointer;
  }

  & span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 226%;
    letter-spacing: -0.01em;
    text-align: right;
    color: #acadb9;
    margin: auto 0;
    height: 37px;
  }
}
